DATABASE_URL=postgresql://user:password@localhost:5432/foodstore_db
SECRET_KEY=your-super-secret-key-min-32-chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=["http://localhost:5173","http://localhost:5174"]

VITE_API_URL=http://localhost:8000

MP_ACCESS_TOKEN=TEST
MP_PUBLIC_KEY=TEST
MP_NOTIFICATION_URL=https://tu-dominio.com/api/v1/pagos/webhook

# Cloudinary (para almacenamiento de imágenes)
# Obtener credenciales en: https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=food-store-prog-4
CLOUDINARY_API_KEY=733697669271242
CLOUDINARY_API_SECRET=zu3bAMG5x2uAf9QYj7k4LiCtyZk
